$topbar-background: #fff;

@import "~foundation-sites/scss/foundation";
@import "./utilities/borders.scss";
@import "./utilities/bubbles.scss";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@include foundation-everything(true, $prototype: true);

$lightest-gray: lighten($light-gray, 7%);
$foundation-gray-palette: (
  lightest: $lightest-gray,
  light: $light-gray,
  medium: $medium-gray,
  dark: $dark-gray,
  black: $black,
  white: $white,
);

@each $name, $color in $foundation-palette {
  .color-#{$name} { color: $color !important; }
}

@each $name, $color in $foundation-palette {
  .background-#{$name} { background-color: $color !important; }
}

@each $name, $color in $foundation-gray-palette {
  .color-#{$name} { color: $color !important; }
}

@each $name, $color in $foundation-gray-palette {
  .background-#{$name} { background-color: $color !important; }
}

.circle {
  border-radius: 50%;
}

.hero-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  min-height: 25rem;
  display: flex;

  .hero-section-text {
    max-width: 70rem;
  }
}
